# Python
__pycache__/
*.pyc
venv/
*.sqlite3

# Archivos subidos por usuarios
backend/media/

# Entornos
.env
.env.local

# Node / frontend
node_modules/
dist/
.vite/

# Editor / OS
.vscode/
.idea/
.DS_Store
